<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
     <add name="WWALMDB" connectionString="data source=10.21.199.28;initial catalog=WWALMDB;persist security info=True;user id=sa;password=Aaaa-1111;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>